body {
    font-family: Arial, sans-serif;
    font-size: 11px;

    color: #fff;
    background: url('../img/background.jpg') no-repeat;
    background-size: 100%;
}

.wrapper {
    padding: 0 7.3% 3% 7.3%; /*какой смысл если у тебя нет фактической высоты блока? как он поймет от скольки ему этот % считать?*/
}

header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.banner {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 230px;
    height: 151px;

    align-items: center;
    justify-content: center;
}

.logo {
    position: relative;
    z-index: 200;
    top: 26px;
    
}

.palm {
    position: absolute;
    z-index: 100;

    left: 148px;
    width: 48%;
}

.tagline {
    position: relative;
    top: 31px;
    left: 17px;
}

.contacts {
    display: flex;
    flex-direction: column;

    width: 150px;
    height: 100px;

    position: relative;
    top: 89px;
}

.contacts li:nth-child(1) {
    margin-bottom: 6px;
}

.contacts li:nth-child(2) {
    margin-bottom: 2px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content figure {
    margin-right: 2%;
    margin-bottom: 5%;
}

.border {
    background-color: #9b9b9b;
    border: 5px double #757575;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.79);
}

figcaption {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

}