body {
    background: url("../img/background.jpg")  no-repeat ;
    background-size: 100%;
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #ffffff;
}

.wrapper {
    padding: 0.2% 7.3% 3% 7.3%;
}

.banner{
    position: relative;
}

.logo {
    position: absolute;
    z-index: 200;
    margin-top: 7%;
}

.palm {
    position: absolute;
    z-index: 100;
    margin-left: 12.9%;
}

.tagline {
    position: absolute;
    z-index: 200;
    margin-top: 11%;
    margin-left: 7.3%;
}

.contacts {
    display: block;
    float: right;
}