body {
    font-family: Tahoma, sans-serif;
    font-size: 11px;

    color: #fff;
    background: url('../img/background.jpg') no-repeat;
    background-size: 100%;
}

.wrapper {
    padding: 55px 7.3% 30px 7.3%; /*какой смысл если у тебя нет фактической высоты блока? как он поймет от скольки ему этот % считать?*/
}

header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.banner {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 230px;
    height: 151px;

    align-items: center;
    justify-content: center;
}

.logo {
    position: relative;
    z-index: 200;
    top: 26px;
    left: 15px;
}

.palm {
    position: absolute;
    z-index: 100;

    left: 138px;
    width: 56%;
}

.tagline {
    position: relative;
    justify-content: center;
    top: 31px;
    left: 17px;
}

.contacts {
    display: flex;
    flex-direction: column;

    width: 150px;
    height: 100px;

    position: relative;
    top: 91px;
}

.contacts span:nth-child(1) {
    margin-bottom: 6px;
}

.contacts span:nth-child(2) {
    margin-bottom: 2px;
}


.content figure {
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 20px;
    width: 140%;
}

figure img{
    width: 100%;
}

.first-line {
    display: flex;
    flex-direction: row;
}

.second-line {
    display: flex;
    flex-direction: row;
}

.border {
    background-color: #9b9b9b;
    border: 5px double #757575;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.79);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.79);
}

figcaption {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}